html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* styles the slider in the legend */
#day-night-slider{
  width: 175px;
  background-color: #DF6D26;
  border-radius: 5px;
  outline: none;
  appearance: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

/* styles the "button/toggle" of the slider */
#day-night-slider::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  background: #0AA3AF;
  cursor: pointer;
  -webkit-appearance: none;
}

